<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/style.css")
    title Document
  body
    .keys
      .key(data-key="65")
        kbd A
        span.sound CLAP
      .key(data-key="83")
        kbd S
        span.sound HIHAT
      .key(data-key="68")
        kbd D
        span.sound KICK
      .key(data-key="70")
        kbd F
        span.sound OPENHAT
      .key(data-key="71")
        kbd G
        span.sound BOOM
      .key(data-key="72")
        kbd H
        span.sound RIDE
      .key(data-key="74")
        kbd J
        span.sound SNARE
      .key(data-key="75")
        kbd K
        span.sound TOM
      .key(data-key="76")
        kbd L
        span.sound TINK