html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.bg-image {
  background-image: url("/drum-kit/asset/image/pexels-photo-260034.jpeg");
  width: stretch;
  height: 100vh;
}
.keys {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  top: 15rem;
}

.key {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  border: 0.2rem solid white;
  border-radius: 1rem;
  text-align: center;
  line-height: 1.2rem;
  margin: 0 1rem;
  width: 3.5rem;
  color: white;
  transition: all 0.1s;
  &:hover {
    cursor: pointer;
  }
}

kbd {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.sound {
  color: wheat;
}

.playing {
  transform: scale(1.2);
  border-color: wheat;
  box-shadow: 0 0 20px #ffc600;
}